---

---

<article id="footergrid">
  <div id="grid-1-1-1-1">
    <div>
      <h3>Chattens åbingstider</h3>
      <dl>
        <dt>Man - Tors</dt>
        <dd>18:30 - 24:00</dd>
        <dt>Fre - Lør</dt>
        <dd>19:00 - 23:00</dd>
        <dt>Søndag</dt>
        <dd>18:30 - 24:00</dd>
      </dl>
      <div class="no_grid">
        <p class="markeret">Chat med os</p>
        <p class="markeret">Send en sms</p>
      </div>
      <p class="sms">
        Du kan altid sende en sms til os. Vi svarer på din besked i chattens
        åbningstid.
      </p>
    </div>
    <div>
      <h4>For unge</h4>
      <div>
        <p>Chatten</p>
        <p>Pigetanker</p>
        <p>Alle vores tilbud til unge</p>
        <p>Lokalafdelinger</p>
        <p>Kontakt</p>
        <p>FAQ til projektopgaver</p>
      </div>
    </div>
    <div>
      <h4>Om Girltalk</h4>
      <div>
        <p>Nyheder</p>
        <p>Bliv frivillig</p>
        <p>Støt</p>
        <p>Jobs</p>
        <p>Vores indsamling</p>
        <p>Privatlivspolitik</p>
        <p>Cookiepolitik</p>
      </div>
    </div>
    <div>
      <h4>Find os her</h4>
      <div>
        <a href=""><img src="/img/youtube.svg" alt="" width="20px" />Youtube</a>
        <a href=""><img src="/img/insta.svg" alt="" width="20px" />Instagram</a>
        <a href=""><img src="/img/face.svg" alt="" width="10px" />Facebook</a>
        <a href=""
          ><img src="/img/linkedin.svg" alt="" width="20px" />LinkedIn</a
        >
        <a href=""><img src="/img/tiktok.svg" alt="" width="20px" />TikTok</a>
        <a href=""><img src="/img/spotify.svg" alt="" width="20px" />Spotify</a>
      </div>
    </div>
  </div>
</article>
<style>
  p {
    font-size: 1rem;
    width: 200px;
    color: #1b1b1b;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    text-align: start;
  }
  .sms {
    width: 500px;
    font-size: 14px;
  }
  .markeret {
    font-size: 18px;
    margin-top: 40px;
    font-weight: bold;
  }
  dl {
    font-size: 18px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  dt {
    margin-top: 8px;
    font-weight: bold;
  }
  h3 {
    font-family: Archivo SemiBold;
    font-size: 2rem;
    color: #1b1b1b;
  }
  h4 {
    font-family: Archivo SemiBold;
    font-size: 1.65rem;
    color: #1b1b1b;
    margin-bottom: 40px;
  }

  #footergrid {
    text-align: start;
    display: grid;
    font-family: Archivo;
  }

  #grid-1-1-1-1 {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 2em;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #1b1b1b;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0;
    margin-top: 20px;
    text-align: start;
  }
  img {
    margin: 0;
    justify-self: start;
  }
</style>
