---

---

<h1>GirlTalk</h1>
<article id="footergrid">
  <div id="grid-1-1-1-1">
    <p>Chattens åbingstider</p>
    <p>For unge</p>
    <p>Om Girltalk</p>
    <p>Find os her</p>
  </div>
  <div>
    <style>
      h1 {
        font-size: 2rem;
        margin: 4rem 0;
        color: #fc4d5c;
      }

      p {
        font-size: 12px;
      }

      #footergrid {
        text-align: start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      #grid-1-1-1-1 {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        gap: 0em;
      }
    </style>
  </div>
</article>
