---

---

<article id="footergrid">
  <div id="grid-1-1-1-1">
    <p>Chattens åbingstider</p>
    <p>For unge</p>
    <p>Om Girltalk</p>
    <p>Find os her</p>
  </div>
  <div>
    <style>
      #footergrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      #grid-1-1-1-1 {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        gap: 2em;
      }
    </style>
  </div>
</article>
