---

---

<p id="headertext">Chat med oss i dag fra 19:00 - 23:00</p>

<style>
  header {
    background-color: #273aaa;
    padding: 1px;
    text-align: center;
  }

  #headertext {
    color: #f7c7d9;
    text-align: center;
  }
</style>
