---

---

<p id="headertext">Chat med os i dag fra 18:30 - 24:00</p>

<style>
  header {
    background-color: #273aaa;
  }

  #headertext {
    color: #f7c7d9;
    font-size: 14px;
    font-family: Archivo Exp SemiBold;
    width: 350px;
    height: 40px;
    margin: auto;
    padding: 12px;
  }
</style>
