---

---

<nav>
  <a href=""
    ><img id="logo" src="/img/girltalklogo.svg" alt="" width="100%" /></a
  >
  <ul>
    <li><a href="">Få hjælp</a></li>
    <li><a href="">Viden om</a></li>
    <li><a href="">Om os</a></li>
    <li><a href="">Shop</a></li>
    <li><a href="">Støt</a></li>
    <li><a href="">Bliv frivillig</a></li>
  </ul>
  <img id="knap" src="/img/knap.svg" alt="" width="100%" />
</nav>

<style>
  nav {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    background-color: white;
    justify-content: space-between;
  }
  #logo {
    width: 200px;
    padding: 25px;
    justify-self: flex-start;
  }
  ul {
    padding: 20px;
    padding-top: 22px;
    display: flex;

    gap: 2em;
  }
  li {
    font-size: 18px;
    font-family: Archivo Semibold;
    text-decoration: none;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #1d1d1b;
  }

  #knap {
    width: 300px;
    margin-right: 20px;
  }
</style>
